body {
  height: 200px;
  background: beige;
}
.dot {
  height: 8px;
  width: 8px;
  border-radius: 100px; /* rounds corners */
  background: blue;
  position: absolute;
  pointer-events: none;
}

#button-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}
